---
import Layout from './src/layouts/Layout.astro';
---

<Layout>
  <main class="w-80">
    <div class="dotted-section">
      <p>
        I am a results-driven Software Test Engineer with a strong track record on optimising development pipelines and ensuring high-quality software.
      </p>
      <p>
        Experienced in designing scalable testing frameworks, identifying security vulnerabilities, and implementing automation to improve efficiency. Passionate about staying ahead of industry best practices to build secure, performant, and reliable applications.
      </p>
    </div>
  </main>
</Layout>
