---
import Layout from './src/layouts/Layout.astro';
---

<Layout>
  <main class="w-80">
    <div class="dotted-section me-2">
      <h3>Software Test Engineer</h3>
      <p>
        <em>Cambridge Kinetics, Cambridge</em>
        <span class="date">June 2023 - Present</span>
      </p>
      <ul>
        <li>Designed and implemented a full end-to-end (e2e) Playwright test suite running on CI to prevent regressions and confirm successful changes.</li>
        <li>Optimised pipeline for suite to reduce e2e check times by 50% through test parallelisation and sharding.</li>
        <li>Mentored juniors on optimal strategies for chunking larger pieces of work into digestible and reviewable PRs.</li>
        <li>Optimised API security by identifying vulnerabilities and implementing additional verification layers to prevent unauthorized access.</li>
        <li>Reduced server costs in one project by 20% through service scaling and performance optimisations.</li>
        <li>Maintained an impressive response time, with an average initial response of 20 minutes and resolution within two days, as reported in an external audit.</li>
        <li>Audited potential future issues ahead of the curve through the use of monitoring tools such as Sentry and the Azure Dashboards.</li>
      </ul>
    </div>
    <div class="dotted-section">
      <h3>Graduate Software Engineer</h3>
      <p>
        <em>Cambridge Kinetics, Cambridge</em>
        <span class="date">Oct 2022 - June 2023</span>
      </p>
      <ul>
        <li>Developed multiple CRM features within specifications and identified key inefficiencies in current method designs.</li>
        <li>Improved server efficiency, reducing costs by 10% through optimized database queries and method restructuring.</li>
        <li>Served as a secondary lead on test design and requirements analysis for a key project, ensuring robust validation processes.</li>
      </ul>
    </div>
  </main>
</Layout>
