---
import Layout from "../layouts/Layout.astro";
import LinkBadge from "../components/linkBadge.astro";
---

<Layout>
  <main class="w-80 main-center">
    <div id="home">
      <div>
        <div>
          <h2 class="header-font">Daniel Yates</h2>
        </div>
        <div>
          <h4>. SDET . Sewing . Keyboards .</h4>
        </div>
        <div>
          <LinkBadge
            icon="/src/assets/github-icon.svg"
            text="Github"
            link="https://www.github.com/YatesyTea"
          />
          <LinkBadge
            icon="/src/assets/linkedin-icon.svg"
            text="LinkedIn"
            link="https://www.linkedin.com/in/yates-dev/"
          />
          <LinkBadge
            icon="/src/assets/email-icon.svg"
            text="Email"
            link="mailto:exampleemail@mail.com"
          />
        </div>
      </div>
    </div>
  </main></Layout
>
