---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="w-80">
    <div class="dotted-section">
      <h2>Stuti's Poem of the Day</h2>
      <a href="https://github.com/YatesyTea/stooti-poems-v2">Repository</a>
      <a href="https://stooti-poems.fly.dev/">Site</a>
    </div>
  </main>
</Layout>
