---
import Layout from "../layouts/Layout.astro";
import ProjectDisplay from "../components/projectDisplay.astro";
import thoughtCatalog from "../assets/thought-catalogue.png";
---

<Layout>
  <main class="w-80 mt-1">
      <ProjectDisplay
        title="Stuti's Poem of the Day"
        description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur saepe perferendis nihil inventore eos id? Nam inventore hic corrupti itaque maxime delectus sed commodi, veniam, maiores accusamus cumque minus culpa!"
        image={{src: thoughtCatalog.src, alt: "Photo by Thought-Catalog on Unsplash"}}
        links={{ docLink: "./stuti-poem-of-the-day", ghLink: "https://github.com/YatesyTea/stooti-poems-v2", demoLink: "https://stooti-poems.fly.dev/" }}
      />
  </main>
</Layout>

<style>
  main {
    margin-left: auto;
    margin-right: auto;
    width: clamp(400px, 80%, 700px);
  }
</style>
